:root {
  --primary-color: #b79aed;
  --secondary-color : #9d43d9;
  --section: #bbbbbb;
}

.play-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 50%;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-sm-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Header */
li{
  margin-left: 1em;
}
.form-check {
  padding-top: 5px;
}

/* Search Section */
.input-with-icon {
  border: none;
  background-image: url('assets/search.svg');
  background-repeat: no-repeat;
  background-position: right center;
}

/* Main */
h1 {
  padding: 0.25em 0;
  font-size: 5rem;
  font-weight: bold;
  text-transform: lowercase;
}
h2 {
  color: var(--secondary-color);
}
.separator {
  padding-top: 1em;
} 
.flex-shrink-0 p{
  text-transform: lowercase;
  font-weight: bold;
  padding-right: 0.5em;
}
h3{
  font-weight: 300;
  color: var(--section);
}
#usage-example ul>li:nth-child(2){
  color: var(--section);
}
#usage-example ul>li:first-child::before,
#word-definition ul>li::before {
  font-weight: bolder;
  content: "\2022"; /* Add the bullet point using Unicode character */
  display: inline-block;
  width: 1.5em;
  margin-left: -1em;
  color: var(--secondary-color);
}
.d-flex.flex-column ul>li{
  list-style: none;
  padding-left: 1em;
}
h4 {
  color: var(--secondary-color);
  margin-left: 3em;
}
