/* Dancing Script */
@font-face {
  font-family: 'Dancing Script';
  src: url('../assets/fonts/Dancing_Script/DancingScript-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dancing Script';
  src: url('../assets/fonts/Dancing_Script/DancingScript-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Dancing Script */
@font-face {
  font-family: 'Gruppo';
  src: url('../assets/fonts/Gruppo/Gruppo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}