:root {
  --primary-color: #b79aed;
  --secondary-color: #9d43d9;
  --section: #bbbbbb;
  --bg-color: white;
  --text-color: black;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Times New Roman";
}


.dark-theme .dropdown-item,
.dark-theme .dropdown-menu,
.dark-theme {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.dark-theme .dropdown > a{
  color: white;
}

.dark-theme .navbar-brand > img {
  filter: invert(1);
}
.dropdown-toggle:not(:focus) ,
.dropdown-toggle:is(:focus){
  border: none;
}
.play-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 50%;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 2em;
}
/* Header */
li {
  margin-left: 1em;
}
.form-check {
  padding-top: 5px;
}

/* Search Section */
.input-with-icon {
  border: none;
  background-image: url("assets/search.svg");
  background-repeat: no-repeat;
  background-position: right center;
}
.input-group:focus-within .form-control {
  box-shadow: 0px 0px 5px var(--primary-color); /* set the box-shadow to red */
}
/* Main */
h1 {
  padding: 0.25em 0;
  font-size: 5rem;
  font-weight: bold;
  text-transform: lowercase;
}
h2 {
  color: var(--secondary-color);
}
.separator {
  padding-top: 1em;
}
.flex-shrink-0 p {
  text-transform: lowercase;
  font-weight: bold;
  padding-right: 0.5em;
}
h3 {
  font-weight: 300;
  color: var(--section);
}
#usage-example ul > li:nth-child(even) {
  padding: 0.5em 0 0.5em 1.5em;
  color: var(--section);
}
#usage-example ul > li:nth-child(odd)::before,
#word-definition ul > li::before {
  font-weight: bolder;
  content: "\2022"; /* Add the bullet point using Unicode character */
  display: inline-block;
  width: 1.5em;
  margin-left: -1em;
  color: var(--secondary-color);
}
.d-flex.flex-column ul > li {
  list-style: none;
  padding: 0.5em 0 0.5em 1em;
}
h4 {
  color: var(--secondary-color);
  margin-left: 3em;
}
#synonyms-verb {
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
